/* 
 * #2B2D42 - gunmetal
 * #8D99AE - grey-blue
 * #EDF2F4 - anti-flash white
 * #EF233C - red
 * #D90429 - candy apple red
 */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-image: url('../assets/dictionary.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#container {
  min-height: 100vh;
  background-color: rgba(237,242,244,0.95);
}

header {
  background-color: #2B2D42;
  padding: 10px;
}

header:after,
footer:after,
.row:after {
  content: "";
  clear: both;
  display: table; 
}

header h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 3em;
  color: #EDF2F4;
  float: left;
  margin-right: 20px; 
  padding-right: 20px;
}

header nav {
  float: right;
}

header nav li  {
  display: inline-block;
}

header nav li a {
  display: block;
  color: #EDF2F4;
  text-decoration: none;
  padding: 1em;
  margin-left: 0.5em;
  border-radius: 10px;
  border: 1px solid rgba(237,242,244, 0.25);
}

header nav li a.active {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(237,242,244,0.5);
  -moz-box-shadow: 0px 0px 10px 5px rgba(237,242,244,0.5);
  box-shadow: 0px 0px 10px 5px rgba(237,242,244,0.5);
}

header nav li a:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(237,242,244,1);
  -moz-box-shadow: 0px 0px 10px 5px rgba(237,242,244,1);
  box-shadow: 0px 0px 10px 5px rgba(237,242,244,1);
}

main .row {
  margin-top: 0.5em;
}

main .row:last-of-type {
  margin-bottom: 0.5em;
}

main .row .col {
  border: 1px solid red;
  float: left;
  width: 32%;
  margin-left: 1%;
  min-height: 10vh;
  border-radius: 10px;
  border: 1px solid #8D99AE;
  text-align: center;
}

main .row .col:last-of-type {
  margin-right: 1%;
}

main .row .current{
  -webkit-box-shadow: 0px 0px 10px 5px rgba(217, 4, 41, 0.5);
  -moz-box-shadow: 0px 0px 10px 5px rgba(217, 4, 41, 0.5);
  box-shadow: 0px 0px 5px 4px rgba(217, 4, 41, 0.5);
}

main .col {
  padding: 1em;
}

main .col h3 {
  font-size: 2em;
  font-weight: bold;
}

main .col h4 {
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 10px;
}

footer {
  background-color: #2B2D42;
  padding: 10px;
  color: #EDF2F4;
}

footer nav {
  float: left;
}

footer nav a {
  display: block;
  color: #EDF2F4;
  text-decoration: none;
  margin-right: 0.5em;
}

footer nav a:hover {
  text-decoration: underline;
}

footer p {
  float: right;
}

input {
  font-family: 'Roboto Mono', monospace;
}

.hidden {
  display: none;
}

.outer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
}
.inner {
  background-color: #EDF2F4;
  width: 400px;
  margin: 100px auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.outer h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 2em;
  /* border: 1px solid black; */
  padding: 5px;
  margin: 5px;
}
